

<div id="carousel-wrapper">
    <div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel">
        <ol class="carousel-indicators">
            <% @products.each_with_index do |product, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="active"></li>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <% @products.each do |product| %>
            <div class="carousel-item<%= " active" if product == @products.first %>">
                <%= image_tag(product.image_url) %>

                <div class="carousel-caption d-none d-md-block">
                    <%= product.name %>
                </div>
            </div>
            <% end %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<section id="section-one">
    <h2><span class="section-underline">Quality Pr</span>e Owned Boats</h2>
    <div class="row">
        <div class="col-md-9">
            <p><%= phrase('about-home') %></p>
</div>
        <div class="col-md-3">
            <p><%= phrase('aside-home') %></p>
            <!--<p class="aside">Founded in 1884 by Reginald B. Buckhamc famed Union sailor and national hero, Baltimore Boats has over 135 years of experience building, repairing and selling boats. You can't beat experience!</p>--></div>
    </div>
</section>
<section id="section-two">
    <h2 class="section-two-heading"><span class="section-underline">Three Conve</span>nient Locations</h2>
    <div id="section-two-container">
        <div class="row">
            <div class="col-sm">
                <div class="col-top">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98821.0302999262!2d-76.69052592047419!3d39.28468541984078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c803aed6f483b7%3A0x44896a84223e758!2sBaltimore%2C+MD!5e0!3m2!1sen!2sus!4v1550443625456" width="100%" height="256px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-base">
                    <p>Our original location is, as always, right downtown at 503 Fleet St. Baltimore, MD</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-top">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100088.67420417859!2d-75.66009899863678!3d38.3774171146647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b903ba56929e61%3A0xcc2a83b15b6a3b93!2sSalisbury%2C+MD!5e0!3m2!1sen!2sus!4v1550444113901" width="100%" height="256px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-base">
                    <p>Our Eastern Shore dealership can be found at 10100 Constitution Rd. Salisbury, MD </p>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-top">
                    <iframe     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49630.040952249714!2d-76.53971390589683!3d38.97246371698892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7f66570672fd5%3A0x43f854fdd3a8274b!2sAnnapolis%2C+MD!5e0!3m2!1sen!2sus!4v1550444018097" width="100%" height="256px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-base">
                    <p>Our Capitol City dealership, our newest location is at 65 Admirals Ave. Annapolis, MD  </p>
                </div>
            </div>
        </div>
    </div>
</section>