<div class="product-reviews">
    <h4></h4>
    <div>
        <% @comments.each do |comment| %>
        <%= render comment %>
        <% end %>
        <%= will_paginate @comments %>
    </div>
</div>

<!--<div class="product-reviews">
<h4>Reviews</h4>
<% @comments.each do |comment| %>
<div>
<%= comment.user.first_name %>        <% if signed_in? && current_user.admin? %>
<%= link_to  ('<i class="fas fa-trash-alt"></i>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
<div class="rated" data-score="<%= comment.rating %>"></div>
<p><%= comment.body %></p>

</div>
<% end %>
<%= will_paginate @comments %>

</div>-->