<div class="container-fluid sub-page-content">
    <div class="container-fluid products-table edit">
        <p id="notice"><%= notice %></p>
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <div  class="row" data-product-id="<%= @product.id %>">
            <% cache @product do %>
                <div class="col-lg-6 col-sm-12">
                    <%= image_tag(@product.image_url, class: "img-thumbnail rounded img-zoom", data_zoom_image: "(@product.image_url)") %>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <ul class="show-product-attributes">
                        <li>  <strong>Name:</strong>
                            <%= @product.name %></li>
                        <li>  <strong>Description:</strong>
                            <%= @product.description %></li>
                        <li>  <strong>Colour:</strong>
                            <%= @product.colour %></li>
                        <li><%= number_to_currency(@product.price) %></li>
                        <li>Average Rating: <span class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></span></li>
                        <!--<li>"< %= @product.highest_rating_comment.body %>"</li> ASK HENDI-->
                        <br>
                        <%= form_with(url: '/payments/create') do |form| %>
                            <%= render partial: "shared/stripe_checkout_button" %>
                            <%= hidden_field_tag(:product_id, @product.id) %>
                        <% end %>

                    </ul>
                </div>
               <% end %>
            <div class="col-lg-6 col-sm-12">
                <%= render 'new_comment' %>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
                <%= render 'comments' %>
            </div>
            <div class="container-fluid">
                <% if signed_in? && current_user.admin? %>
                <%= link_to 'Edit', edit_product_path(@product) %> |
                <% end %>
                <%= link_to 'Back', products_path %></div>
        </div>
    </div>
</div>

